@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: "Moul-Regular";
    src: url("../fonts/Moul-Regular.ttf"), format(".ttf");
    font-style: normal;
}

@font-face {
    font-family: "Manrope-Regular";
    src: url("../fonts/static/Manrope-Light.ttf");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}


.myworks-body {
    height: 100%;
    width: 100%;
    background: linear-gradient(-90deg, rgba(84, 25, 26, 0.8) 54%, rgba(48, 21, 77, 0.7) 100%);
}

.myworks-body.sidemenuopened {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container {
    height: 10%; 
    display: flex;
    align-items: center; 
    flex-shrink: 0;
}

.container nav {
    width: 100%;
}

.container ul {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    margin: 0 20px;  
}   

.container li {
    list-style-type: none;
    padding: 2px;
}

.container li a {
    color: white;
    text-decoration: none;
    font-family: "Manrope-Regular", "Manrope";
    font-weight: 400;
    font-size: 30px;
}

.container li a:hover {
    color: #E05454;
    transition: 200ms;
}

.container nav ul li:first-child {
    margin-right: auto;
}

.container nav ul li a svg {
    color: white;
    width: 48px;
    height: 48px;
}

.container nav ul li a:hover svg {
    color: #E05454;
    transition: 200ms;
}

.container nav ul li:last-child {
    display: none;
}

.myworks-hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 10px;
}

.myworks-reze {
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
    opacity: 0;
    transition: opacity 500ms ease-in 50ms;
}

.myworks-reze.visible {
    opacity: 1;
}

#imagemyworksreze {
    width: 100%;
    filter: drop-shadow(-42px 8px 2px rgba(0, 0, 0, 0.25));
}

#imagemyworksrezemob {
    display: none;
}

.myworks-info {
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.myworks-info h2 {
    font-family: "Moul-Regular";
    color: white;
    font-weight: 400;
    font-size: 4em;
}

#myworkstitle {
    opacity: 0;
    transition: opacity 500ms ease-in 50ms;
}

#myworkstitle.visible {
    opacity: 1;
}

.myworks-grid {
    width: 95%;
    height: 100%;

    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

.myworks-card {
    width: 100%;
    height: 220px;
    flex-shrink: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 20px;
    border: 2px solid #523B5D;
    border-radius: 46px;
    background-color: #A96262;
    opacity: 0;
    transition: opacity 500ms ease-in 50ms;
}

.myworks-card.visible {
    opacity: 1;
}

.myworks-cardimage {
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #523B5D;
    border-radius: 46px;
    overflow: hidden;
}

.cardimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
}

#nocardimage {
    background-image: url("/icons/noimageicon.svg");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 55%;
}

#nocardimage img {
    display: none;
}

.myworks-cardinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    height: 100%;
}

.myworks-cardtitle {
    width: 60%;
    height: 20%;
    
    border: 2px solid #523B5D;
    border-radius: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.myworks-carddescription {
    height: 40%;
    width: 95%;
    border: 2px solid #523B5D;
    border-radius: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.myworks-carddescription h2 {
    font-size: 1.2em;
    padding: 25px;
}

.myworks-cardtitle h2 {
    font-size: 2em;
}

.myworks-cardtechnologies {
    width: 95%;
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.c-item {
    border: 2px solid #523B5D;
    border-radius: 100%; 
    background-color: #945555; 
    width: 6%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidemenu {
    display: none;
}


/* Когда ширина экрана становится меньше 768px (это примерно планшет) */
@media (max-width: 768px) {

    .container li a {
        font-size: 14px;
        }
    .container ul {
        gap: 40px;

        }   
}

/* Когда ширина экрана становится меньше 480px (это примерно телефон) */
@media (max-width: 480px) {

    .container nav ul {
        margin: 0 10px;
    }

    .container li a {
        font-size: 16px;
    }

    .container nav ul li:first-child svg {
        width: 42px;
        height: 42px;
    }

    .container nav ul li:nth-child(n+2)
    {
        display: none;
    }
    
    .container nav ul li:last-child {
        display: block;
    }
    
    .container nav ul li:last-child button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 2px white solid;
        color: #FEFEFE;
        border-radius: 5px;
        padding: 5px;
    }

    .myworks-hero {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    .myworks-reze {
        width: 100%;
        justify-content: center;
    }

    #imagemyworksreze {
        display: none;
    }

    #imagemyworksrezemob {
        display: block;
        width: 55%;
    }

    .myworks-info {
        width: 100%;

        margin-top: -10%;
    }

    .myworks-info #myworkstitle {
        font-size: 3em;
        letter-spacing: 5%;
        margin-bottom: 5%;
    }

    .myworks-grid {
        gap: 40px;
    }

    .myworks-card {
        height: 130px;
        padding: 10px
    }

    .myworks-cardimage {
        border-radius: 40px;
    }

    .myworks-carddescription h2 {
        font-size: 1em;
    }

    .sidemenu {
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in, visibility 0s linear 500ms;

        position: fixed;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        background: linear-gradient(90deg, rgba(62, 40, 64, 1) 0%, rgba(77, 43, 48, 1) 100%);
  }

    .sidemenu.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 200ms ease-in;
    }

    .sidemenu .cb-container {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 5px 0 0 15px;
    }
    
    #sidemenuclosebutton {
        margin: 20px;
    }

    .sidemenu ul {
        display: flex;
        width: 100%;
        height: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-left: 10px;
    }

    .sidemenu li {
        list-style-type: none;
    }

    .sidemenu li a {
        color: white;
        text-decoration: none;
        font-family: "Manrope-Regular", "Manrope";
        font-weight: 400;
        font-size: 30px;
    }

    .sidemenu button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 2px white solid;
        color: #FEFEFE;
        border-radius: 5px;
        padding: 5px;
    }


    .sidemenu ul {
        align-self: center;
    }

    
}